html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    
}
.container__fluid{
    max-width: 1920px;
    margin: auto 30px;
}

