@import 'global';
@import 'vars';
@import 'fonts';


.header{
    width: 1920px;
    height: 2545px;
    padding-top: 55px;
    &__box{
        display: flex;
        height: 45px;
        align-items: center;
    }
    &__menu{
        margin-left: 300px;
        ul{
            li{
                display: inline-block;
                &+li{
                    margin-left: 60px;
                }
            }
        }
    }
    &__link{
        background-color: #ff1061;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        height: 45px;
        width: 125px;
        text-align: center;
        padding: 10px 30px 18px;
        border-radius: 30px;
        margin-left: 30px;
    }
}

.search{
    &__box{
        margin-top: 165px;
        text-align: center;
    }
    &__box-form{
        position: relative;
        width: 600px;
        margin: 0 auto;
        input{
            margin-top: 65px;
            height: 80px;
            width: 100%;
            padding: 32px 40px 36px 40px;
            font-size: 16px;
            color: #a4b0b1;
            &::placeholder{
                font-size: 16px;
                color: #a4b0b1;
            }
            border-radius: 35px;
            border: none;
            outline: none;
            
        }
        
        button{
            position: absolute;
            height: 23px;
            width: 23px;
            @include ibg;
            right: 40px;
            top: 95px;
            border: none;
            outline: none;
            background-color: #fff;
            
        }

    }
    &__text{
        font-size: 20px;
        font-weight: 300;
    }
    &__title{
        font-size: 80px;
        line-height: 100px;
        font-weight: 100;
    }
    
}
.features{
    margin-top: 860px;
    text-align: center;
    &__inner{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        background-color: #2d102c;
        margin-top: 40px;
        width: 255px;
        height: 313px;
        border-radius: 5px;
        filter: drop-shadow(0px 9px 9px rgba(0,0,0,0.2));
        background-color: rgba(2,2,2,0.23921568627450981);
    }
    &__img{
        @include ibg;
        margin: 0 auto;
    }
    &__title{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }   
    &__text{
        font-size: 15px;
    }
}

.tech1{
    width: 174px;
    height: 173px;
}

.tech2{
    width: 152px;
    height: 194px;
    margin-top: -20px;
}

.tech3{
    width: 181px;
    height: 172px;
}

.tech4{
    width: 175px;
    height: 175px;
}

.tech5{
    width: 188px;
    height: 176px;
}

.tech6{
    width: 172px;
    height: 178px;
}

.tech7{
    width: 178px;
    height: 178px;
}

.tech8{
    width: 178px;
    height: 181px;
}

.minititle{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.bigtitle{
    font-size: 34px;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}
.text{
    max-width: 760px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

.people{
    color: #000;
}

.caption{
    &__title{
        font-size: 20px;
    }
    &__line{
        height: 2px;
        width: 100px;
        background-color: #4287c5;
        margin-top: 27px;
        margin-bottom: 26px;
    }
}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}
.item{
    max-width: 560px;
    &__text{
        max-width: 500px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__bottom-img{
        width: 175px;
        height: 86px;
        @include ibg;
    }
}

.ul__box{
    display: flex;
    justify-content: space-around;
    max-width: 280px;
    ul+ul{
        margin-left: 45px;
    }
    ul{
        li{
            position: relative;
            &::before{
                position: absolute;
                left: -20px;
                content:">";
                color: #4287c5;
            }
        }
    }
}

.item__img{
    @include ibg;
}

.multi-img{
    width: 703px;
    height: 522px;
}

.optimized{
    color: #000;
}

.optim-img{
    width: 503px;
    height: 427px;
}

.ul__optimized{
    max-width: 560px;
    ul{
        li{
            &::before{
                color: #9362c7;
            }
        }
    }
}

.purple__line{
    background-color: #9362c7;
}

.ul__green{
    max-width: 560px;
    ul{
        li{
            &::before{
                color: #46cea1;
            }
        }
    }
}


.green__line{
    background-color: #46cea1;
}
.green{
    color: #000;
}

.green-img{
    width: 541px;
    height: 492px;
}

.lock-img{
    width: 497px;
    height: 501px;
}

.orange__line{
    background-color: #ee7f8f;
}

.extra{
    color: #000;
}

.ul__extra{
    max-width: 560px;
    ul{
        li{
            &::before{
                color: #ee7f8f;
            }
        }
    }
}

.business{
    color: #000;
    margin-top: 200px;
    .minititle{
        color: #fc3d4d;
    }
    &__inner{
        margin-top: 70px;
        display: flex;
    }
    &__item{
        width: 221px;
        height: 130px;
        background-image: linear-gradient(-20deg, #29417d 0%, #4d4375 100%);
        border-right: 1px solid #fff;
        &:hover{
            filter: drop-shadow(0px 12px 16px rgba(230,11,87,0.3));
            background-image: linear-gradient(-27deg, #f97135 0%, #ff0565 100%);
        }
        &-img{
            width: 60px;
            height: 50px;
            @include ibg;
            margin: 20px auto;
        }
        &-text{
            font-size: 13px;
            text-transform: uppercase;
            color: #fff;text-align: center;

        }
    }
}

.business__one{
    width: 55px;
    height: 45px;
}

.business__two{
    width: 54px;
    height: 54px;
}

.business__three{
    width: 44px;
    height: 55px;
}

.business__four{
    width: 55px;
    height: 55px;
}

.business__five{
    width: 60px;
    height: 50px;
}

.protect{
    color: #000;
    a{
        margin-top: 20px;
        color: #fc3d4d;
        font-size: 13px;
        font-weight: 700;
        padding: 20px 40px;
        border: 1px solid #fc3d4d;
        border-radius: 40px;
        text-transform: uppercase;
    }
}
.protect-img{
    width: 452px;
    height: 582px;
}

.ul__protect{
    max-width: 500px;
    margin-left: 50px;
    ul{
        li{
            &::before{
                color: #fc3d4d;
            }
        }
    }
}

.red__line{
    background-color: #fc3d4d;
}

@import 'media';
//end present box

